<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{app.title}">Bus Arrival App</title>

    <link rel="stylesheet" href="../static/css/bootstrap/bootstrap.min.css"
          th:href="@{/css/bootstrap/bootstrap.min.css}">
    <link rel="icon" type="image/png" href="../static/images/electric-bus.png" th:href="@{/images/electric-bus.png}"/>
    <link href="../static/css/layout.css" th:href="@{/css/layout.css}" rel="stylesheet">

    <script src="../static/js/jquery/jquery-3.5.1.min.js" th:src="@{/js/jquery/jquery-3.5.1.min.js}" defer></script>
    <script src="../static/js/popper/popper.min.js" th:src="@{/js/popper/popper.min.js}" defer></script>
    <script src="../static/js/bootstrap/bootstrap.min.js" th:src="@{/js/bootstrap/bootstrap.min.js}" defer></script>
    <script>

    </script>
</head>
<body>
<div class="container-fluid mb-5" th:fragment="header">

    <nav class="navbar navbar-expand-sm bg-light bg-primary fixed-top">
        <img class="ml-1 ml-sm-5" width="30" height="30" src="../../static/images/electric-bus-512.png"
             th:src="@{/images/electric-bus-512.png}" alt="">
        <a href="/busarrival/" class="navbar-brand ml-2 text-dark font-weight-bold" th:text="#{app.header}">Bus Arrival</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">
                <i class="fa fa-bars" style="font-size:30px"></i>
            </span>
        </button>
        <div class="collapse navbar-collapse text-center" id="navbarNavAltMarkup">
            <div class="navbar-nav ml-auto">
                <div>
                    <a class="nav-item nav-link active text-dark font-weight-bold " href="/busarrival/">Home</a>
                </div>
                <div>
                    <a class="nav-item nav-link active text-dark font-weight-bold " href="/busarrival/icons">Icons</a>
                </div>
                <div>
                    <a class="nav-item nav-link active text-dark font-weight-bold " href="/busarrival/contact">Contact</a>
                </div>
            </div>
        </div>
    </nav>

</div>
</body>
</html>