/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 40px;
    line-height: 40px;
}

.table-bordered tr td{
    border: 1px solid #b8d7ff;
}

.busStop:hover,.busService:hover{
    text-decoration: underline;
    text-decoration-color: #005cbf;
    cursor:pointer;
}