/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 50px;
    background-color: rgba(165, 237, 255, 0.11);

}
@media (min-width: 576px) {
    .footer{
        height:40px;
        line-height: 40px; /* Vertically center the text there */
    }
}

.table-bordered tr td{
    border: 1px solid #b8d7ff;
}

.busStop:hover,.busService:hover{
    text-decoration: underline;
    text-decoration-color: #005cbf;
    cursor:pointer;
}