<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bus Arrival App</title>
    <!--    <link rel="shortcut icon" type="images/png"-->
    <!--          href="https://image.flaticon.com/icons/png/512/2760/2760147.png"/>-->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link rel="icon" type="image/png" href="images/electric-bus.png"/>
    <link href="css/layout.css" rel="stylesheet">
</head>
<body>
<div class="container mb-5">
    <nav class="navbar navbar-expand bg-light navbar-light fixed-top">
        <a href="#" class="navbar-brand ml-5">Bus Arrival</a>
    </nav>
</div>
<div class="container mt-5">
    <div class="row form mx-auto dropdown mt-5 pt-5 text-center">
        <div class="col-xs-12 col-lg-6 mt-3 w-100 text-center">
            <select id="selectBusService" class="btn btn-outline-primary dropdown-toggle w-100">
                <option value="0">Select Bus Services</option>
                <option th:each="busService : ${busServices}"
                        th:text="${busService.serviceNo}+', '+${busService.originName}+' -> '+${busService.destinationName}">
                </option>
            </select>
        </div>
        <div class="col-xs-12 col-lg-6 mt-3 w-100 h-100 ">
            <select id="selectBusStop" class="btn btn-outline-primary dropdown-toggle w-100">
                <option value="0">Select Bus Stop</option>
                <option th:each="busStop : ${busStops}"
                        th:text="${busStop.description}+' , '+${busStop.roadName}+' , '+${busStop.busStopCode}">
                </option>
            </select>
        </div>
    </div>
</div>
<div class="container-fluid footer text-center">
    <small>
        Bus Arrival App
        | Developer: Jiang Wensi
        | Favicon made by
        <a href="https://www.flaticon.com/authors/icongeek26" title="Icongeek26">Icongeek26</a> from
        <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
    </small>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script>
    // Initialize and add the map

</script>
</body>
</html>